*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-width: 1200px;
}
/* generali */
.debug{
    border: 1px solid black;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
a{
    display: inline-block;
    text-decoration: none;
    padding: 4px 5px;
}
.btn{
    margin-top: 30px;
    margin-right: 20px;
}
.blue{
    background-color: blue;
    color: white;
}
/* header */
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
}
nav .logo{
    padding-top: 30px;
    padding-left: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 25px;
}
nav ul li a{
    color: black;
}
.jumbotron{
    width: 100%;
    padding-top: 180px;
    background-color: #B4D0E7;
}
.jumbo{
    width: 80%;
    margin: 0 auto;
}
.jumbo h1{
    font-size: 70px;
    font-weight:bolder ;
    margin-top: 50px;
    margin: 0 auto;
}
.jumbo-left a{
    font-size: 20px;
}
.jumbo-left p{
    max-width: 70%;
    font-size: 20px;
    padding-top: 50px;
}
.jumbo-left span{
    display: inline-block;
    max-width: 70%;
    font-size: 16px;
    padding-top: 10px;
}
.jumbo-left{
    width: 35%;
}
.jumbo-right{
    width: 65%;
}
.jumbo-left .btn{
    margin-top: 20px;
    padding-top: 0;
}
.jumbo-right img{
    height: 550px;
    margin-bottom: -80px;
    object-fit: contain;
}
#freccia{
    padding-top: 20px;
}

/* main */
.panel-container{
    width: 70%;
    margin: 0 auto;
    padding-top: 180px;
}
.panel-header h2{
    font-size: 40px;
    padding-bottom: 20px;
}

.circle-blu::before{
    content: "";
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 15px;
    line-height: 20px;
    border: 4px solid rgb(0, 4, 255);
    border-radius: 50%;
}
.circle{
    display: inline-block;
    font-size: 20px;
    margin: 20px 10px;  

}
.circle span{
    display: inline-block;
    padding-bottom: 5px;
}
.circle-white::before{
    content: "";
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    line-height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}
/* box piani */
.plans-box{
    width: calc(33% - 10px);
    margin: 0 auto;
    margin-right: 14px;
}
.plans-head{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 10px 0;
}
.single::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 400; 
    content: "\f007";
}
.team::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 400; 
    content: "\f1ad";
}
.plans-body{
    padding: 30px 20px;
    margin-bottom: 50px;
}
.plans-body h3{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 15px;
}
.plans-body p{
    padding-bottom: 15px;
    font-weight: bolder;
}
.bold{
    font-weight: bolder;
    padding-bottom: 5px;
}
.grey{
    color: gray;
    font-weight: bold;
    padding-bottom: 40px;
}
.plans-body .btn{
    text-align: center;
}
.plans-body .btn .blue{
    padding-top: 10px;
    width: 100%;
}
.separate{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}
.plans-body ul{
    list-style-type: none;
}
.plans-body ul i{
    color: blue;
    margin-right: 5px;
}
.team-box{
    margin-top: 60px;
    position: relative;
}
.plans-foot{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 10px 0;
}
.team-box h3{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 15px;
}
.team-box .bold{
    padding-bottom: 20px;
}
.team-box p{
    padding-bottom: 30px;
}
.team-box .btn{
    position: absolute;
    top: 65px;
    right: 40px;
}